* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ronaldo{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   flex-direction: column;
  background-color: rgba(6, 7, 7, 0.795);
  margin:850px;
  border-radius: 50px;
}

.q1{
    width: 100px;
    height: 100px;
    background-color:rgb(255, 17, 0);
    border-radius: 5000px;
    box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0);
    filter: brightness(200%);

}

.q2{
    width: 100px;
    height: 100px;
    background-color:rgb(255, 239, 9);
    border-radius: 5000px;
    box-shadow: 0 0 10px rgb(247, 243, 2), 0 0 20px rgb(240, 205, 9), 0 0 30px rgb(194, 191, 12);
    filter: brightness(200%);
}

.q3{
    width: 100px;
    height: 100px;
    background-color:rgb(43, 226, 52);
    border-radius: 5000px;
    box-shadow: 0 0 10px rgb(14, 235, 25), 0 0 20px rgb(45, 224, 9), 0 0 30px rgb(30, 255, 0);
    filter: brightness(200%);
}

#q1 :hover {
    box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0);
    filter: brightness(200%);
}

#q2 :hover {
    box-shadow: 0 0 10px rgb(247, 243, 2), 0 0 20px rgb(240, 205, 9), 0 0 30px rgb(194, 191, 12);
    filter: brightness(200%);
}

#q3 :hover {
    box-shadow: 0 0 10px rgb(14, 235, 25), 0 0 20px rgb(45, 224, 9), 0 0 30px rgb(30, 255, 0);
    filter: brightness(200%);
}