*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    border: 100px;
    margin: 0 auto;
    padding: 25px;
}

